@media screen and (max-width:769px) {
/* parte do  topo */
    .topo{
flex-wrap: wrap;
padding: 15px;
}    
.logo p{display: none;}
.logo h1{
    font-size: 27px;
    text-align: start;

}

/* aqui e o menu  */
.menu-toggle{
    font-weight: bold;
   display: block;
font-size: 20px;
cursor: pointer;
margin-right: 4%;
/* border: 3px solid rgb(3, 3, 26); */
   
}

/* essa parte e a parte da nvegacao  */
    .nav-bar{
        display: none;
        width:100%;
    }
    .nav-bar.active{
        display: block;
    }
    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }
    
 

    .hero{
        flex-direction: column;
        text-align: center;
    }

    
.hero-text{
    margin-bottom: 20px;
    
}

.hero-img {
    text-align: center;
    margin: 0 12px 13px 20px;
}

/*  aqui o btn do hero */

.botao-en{
padding: 8px 16px;
color: white;

}

.about{
    flex-direction: column;

}
 .cards{
    flex-direction: column;
} 
.why ul{
    flex-direction: column;
    gap: 20px;
}
 
   
}