@media screen and (max-width:700px) {
    .nav-bar{
        display: none;
    }
.logo p{display: none;}
    .hero{
        flex-direction: column;
        text-align: center;
    }
.hero-text{
    margin-bottom: 20px;
    
}
.section{
    margin: 100px;
}
.botao-en{
background-image: linear-gradient(to right,rgb(19, 19, 146), rgb(3, 3, 56));
padding: 4px 8px;
color: white;
text-decoration: none;
text-transform: uppercase;
border-radius: 9px;
font-size: 12px;
font-weight: bold;
}

.hero-img {
    text-align: center;
    margin: 0 12px 13px 20px;
}
.about{
    flex-direction: column;

}
.why ul{
    flex-direction: row;
}
.why ul li{
    margin-top: 20px;
    
}
    
}